@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-nohemi;
}

body {
  @apply bg-background text-black;
}

.main-bg {
  background-image: url('../assets/images/main-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.primary-button {
  @apply bg-transparent border border-white text-white p-3 text-center;
}
.primary-button:hover {
  @apply bg-red-600 border-transparent;
}
.contact-layout {
  @apply bg-[#242323] rounded-lg;
}
.input-layout {
  @apply bg-[#313131] rounded-lg py-3 px-2;
}
